<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myapp.common.dao.mapper.CommonMapper">

	<insert id="insertCustomer" parameterType="myapp.common.service.bean.RegistrateRequest">
		INSERT INTO USR_USER
		(
		name,
		age,
		email
		)
		VALUES(
		#{name},
		#{age},
		#{email}
		)
	</insert>

	<insert id="insertUsrAuth">
		INSERT INTO USR_AUTH
		(
		username,
		password,
		enabled
		)
		VALUES(
		#{username},
		#{password},
		'Y'
		)
	</insert>

	<insert id="insertUsrRole">
		INSERT INTO USR_ROLE
		(
		username,
		role
		)
		VALUES(
		#{username},
		#{role}
		)
	</insert>
	
	<update id="resetPassword" >
		UPDATE usr_auth AS a
		INNER JOIN usr_user AS b
		ON (a.id = b.id)
		SET password = #{newPassword}
		WHERE
		b.email = #{email}
	</update>


</mapper>