<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myapp.core.authentication.dao.mapper.AuthenticationMapper">

	<resultMap type="myapp.core.authentication.userdetails.bean.UserInfo" id="UserDetailsResultMap">
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="enabled" column="enabled" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="myapp.core.mybatis.typehandler.YesNoBooleanTypeHandler" />
		<result property="role" column="role" />
	</resultMap>

	<select id="getUserInfo" resultMap="UserDetailsResultMap">
	SELECT DISTINCT
			b.username,
			b.password, 
			b.enabled,
			d.role
		FROM 
			usr_user a 
		INNER JOIN 
			usr_authentication b
		ON
			(a.usr_id = b.usr_id) 
		INNER JOIN 
			usr_authorization c 
		ON 
			(b.usr_id = c.usr_id) 
		INNER JOIN 
			usr_role d
		ON 
			(c.roleid = d.roleid) 
		WHERE
			(b.username = #{usernameOrPassword} or a.email = #{usernameOrPassword})
	</select>
</mapper>