<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myapp.core.authentication.dao.mapper.AuthenticationMapper">

	<resultMap type="myapp.core.authentication.userdetails.bean.UserInfo" id="UserDetailsResultMap">
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="role" column="role" />
	</resultMap>

	<select id="getUserInfo" resultMap="UserDetailsResultMap">
		SELECT 
			a.username,
			a.password, 
			b.role 
		FROM 
			usr_auth a 
		INNER JOIN 
			usr_role b 
		ON
			(a.username = b.username) 
		INNER JOIN 
			usr_user c 
		ON 
			(b.id = c.id) 
		WHERE 
			enabled = 'Y' 
		AND 
			(a.username = #{usernameOrPassword} or c.email = #{usernameOrPassword})
	</select>
</mapper>