<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myapp.customer.dao.mapper.CustomerMapper">

	<resultMap type="myapp.customer.bean.Customer" id="CustomerResultMap">
		<result property="id" column="id" />
		<result property="username" column="username" />
		<result property="role" column="role" />
		<result property="name" column="name" />
		<result property="age" column="age" />
		<result property="email" column="email" />
	</resultMap>

	<select id="getCustomer" resultMap="CustomerResultMap">
		SELECT 
			a.id, 
			a.name,
			a.age,
			a.email,
			b.role,
			c.username
		FROM 
			usr_user a
		INNER JOIN
			usr_role b 
		ON
			(a.id = b.id) 
		INNER JOIN
			 usr_auth c
		ON
			(b.username = c.username)
		WHERE 
			(c.username = #{username} OR a.email = #{username})
	</select>
</mapper>